body{
    background: lightgray;
    margin: auto;
}

form{
    text-align: center;
    padding: 10px;
    margin: 10px;
}

.space{
    margin: 10px;
}

#feature .icon {
    display: flex;
    align-items: left;
    justify-content: left;
    color: darkorange;
}

#video{

    padding-top: 30px;
    padding-bottom: 30px;
    width: 500px;
    margin: auto;

}

footer{
    margin-top: 30px;
    background-color: #ddd;
    padding: 20px;
    display: block;
}

footer > ul > li {
    padding: 0 10px;
}

footer > span {
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
    font-size: 0.9em;
    color: #444;
}

a {
    color: #000;
    text-decoration: none; 
}

footer > ul {
    display: flex;
    justify-content: flex-end;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li{
    list-style-type: none;
}
